flows.json
[{"id":"2b35b2df.0091ce","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"8df34317.d9b8c","type":"tab","label":"Wall Switches","disabled":false,"info":"Deconz WS"},{"id":"84ff992f.8f4028","type":"tab","label":"Temperature Notifications","disabled":false,"info":""},{"id":"6eca413a.b935b8","type":"tab","label":"Batteries Notifications","disabled":false,"info":""},{"id":"207523f6.8a1364","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"e7229a18.54ed5","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"466830cf.3d5d2","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":"bA55man01"},{"id":"d769023.ebb54","type":"websocket-client","z":"","path":"ws://localhost:8443","tls":"","wholemsg":"false"},{"id":"a9f1b01.b18a85","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"3d4a3eb4.23e92a","type":"mqtt-broker","z":"","name":"","broker":"10.0.0.103","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ff4ec79.0056cb8","type":"better-sonos-config","z":"","name":"Vardagsrummet","serialnum":"00-0E-58-7F-B5-FA:0","ipaddress":"10.0.0.202"},{"id":"7dbe3987.d9805","type":"api-call-service","z":"2b35b2df.0091ce","name":"Fönsterlampor On","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.livingroom_all_window\" }","mergecontext":"","x":810,"y":120,"wires":[[]]},{"id":"cdc39115.6e8cb8","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"5004","endtime":"0","startoff":"-60","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":560,"y":120,"wires":[["7dbe3987.d9805"],[],[]]},{"id":"c206eddf.d21f5","type":"api-call-service","z":"2b35b2df.0091ce","name":"Fönsterlampor Off","server":"466830cf.3d5d2","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.livingroom_all_window\" }","mergecontext":"","x":1830,"y":300,"wires":[[]]},{"id":"b623f99b.f5c6f","type":"comment","z":"2b35b2df.0091ce","name":"Evening Timer On - Window Lights Livingroom","info":"","x":470,"y":40,"wires":[]},{"id":"9bf63005.381f5","type":"api-current-state","z":"2b35b2df.0091ce","name":"Chromecast Vardagsrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.livingroom_chromecast","x":930,"y":240,"wires":[["a03dea59.ac571"]]},{"id":"620601fe.256d68","type":"function","z":"2b35b2df.0091ce","name":"If media is not playing, turn of lights","func":"if (msg.payload[0][\"payload\"][\"state\"] != \"playing\" && msg.payload[1][\"payload\"][\"state\"] != \"playing\" && msg.payload[2][\"payload\"][\"state\"] != \"playing\") {\n    return [msg[1]];\n}","outputs":1,"noerr":0,"x":1400,"y":300,"wires":[["3c6bf9d2.4abb16"]]},{"id":"3c6bf9d2.4abb16","type":"delay","z":"2b35b2df.0091ce","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1650,"y":300,"wires":[["c206eddf.d21f5"]]},{"id":"cebcab2c.2acf28","type":"api-current-state","z":"2b35b2df.0091ce","name":"Kodi Vardagsrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.livingroom_kodi","x":910,"y":300,"wires":[["a03dea59.ac571"]]},{"id":"3b94841d.59a74c","type":"api-current-state","z":"2b35b2df.0091ce","name":"Sonos Vardagsrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.livingroom_sonos","x":910,"y":360,"wires":[["a03dea59.ac571"]]},{"id":"a03dea59.ac571","type":"merge","z":"2b35b2df.0091ce","name":"","timeout":"","x":1170,"y":300,"wires":[["620601fe.256d68"]]},{"id":"b99bfebe.d93ad8","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"0","endtime":"300","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":560,"y":300,"wires":[["69d7f250.1aaedc"],[],[]]},{"id":"47a15ece.496648","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":80,"wires":[["cdc39115.6e8cb8"]]},{"id":"755b756.d914b8c","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":120,"wires":[["cdc39115.6e8cb8"]]},{"id":"c6dd8a95.ec81c8","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":160,"wires":[["cdc39115.6e8cb8"]]},{"id":"71b4b0b0.90ac6","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":260,"wires":[["b99bfebe.d93ad8"]]},{"id":"fd206bbe.ebbad","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":300,"wires":[["b99bfebe.d93ad8"]]},{"id":"f48b748d.78332","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":340,"wires":[["b99bfebe.d93ad8"]]},{"id":"bc536414.856908","type":"comment","z":"2b35b2df.0091ce","name":"Timer Off, if not playing media - Fönster Vardagsrum","info":"","x":490,"y":220,"wires":[]},{"id":"69d7f250.1aaedc","type":"switch","z":"2b35b2df.0091ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":300,"wires":[["3b94841d.59a74c","cebcab2c.2acf28","9bf63005.381f5"]]},{"id":"e20efd7c.f5904","type":"api-call-service","z":"84ff992f.8f4028","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\": \"Varning!\" }","mergecontext":"","x":1160,"y":120,"wires":[[]]},{"id":"21efe02b.3c6c6","type":"function","z":"84ff992f.8f4028","name":"Check temperature","func":"var count_olivia_min = context.get('count')||0;\nvar count_olivia_max = context.get('count_2')||0;\n\nif (msg[\"payload\"][0][\"payload\"] < msg[\"payload\"][1][\"payload\"] && count_olivia_min === 0) {\n    count_olivia_min = 1;\n    context.set('count',count_olivia_min);\n    msg.count = count_olivia_min;\n    count_olivia_max = 0;\n    \n    var notification = 'Temperaturen i Olivias rum är under ' + msg[\"payload\"][1][\"payload\"] + ' (' + msg[\"payload\"][0][\"payload\"] + ') grader.';\n    \n    msg.payload =  {\n        data: {\n            message: notification\n        }\n    }\n    \n    return [msg, null];\n} else if (msg[\"payload\"][0][\"payload\"] > msg[\"payload\"][2][\"payload\"] && count_olivia_max === 0) {\n    count_olivia_max = 1;\n    context.set('count_2',count_olivia_max);\n    msg.count = count_olivia_max;\n    count_olivia_min = 0;\n    \n    var notification = 'Temperaturen i Olivias rum är över ' + msg[\"payload\"][2][\"payload\"] + ' (' + msg[\"payload\"][0][\"payload\"] + ') grader.';\n    \n    msg.payload =  {\n        data: {\n            message: notification\n        }\n    }\n    \n    return [msg, null];\n} else {\n    count_olivia_min = 0;\n    count_olivia_max = 0\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":910,"y":120,"wires":[["e20efd7c.f5904"],[]]},{"id":"d4cc9bae.e76d28","type":"comment","z":"84ff992f.8f4028","name":"Check Olivia Temperature","info":"","x":130,"y":40,"wires":[]},{"id":"5e32fa74.96ca6c","type":"comment","z":"84ff992f.8f4028","name":"Check Vardagsrum Temperature","info":"","x":150,"y":240,"wires":[]},{"id":"98e85bdb.aaeac8","type":"json","z":"8df34317.d9b8c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":400,"wires":[["e79f9320.290e88","7fbbf76d.9293b"]]},{"id":"9c3b992d.1a654","type":"websocket in","z":"8df34317.d9b8c","name":"Deconz WS","server":"","client":"d769023.ebb54","x":110,"y":400,"wires":[["98e85bdb.aaeac8"]]},{"id":"e79f9320.290e88","type":"function","z":"8df34317.d9b8c","name":"Vardagsrum Wall Switch","func":"if (msg.payload[\"id\"] == 6 && msg.payload[\"state\"][\"buttonevent\"] == 1002) {\n    return [msg, null, null];\n} else if (msg.payload[\"id\"] == 6 && msg.payload[\"state\"][\"buttonevent\"] == 2002) {\n    return [null, msg, null];\n} else if (msg.payload[\"id\"] == 6 && msg.payload[\"state\"][\"buttonevent\"] == 3002) {\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"x":530,"y":120,"wires":[["26fd997f.0745e6"],[],[]]},{"id":"26fd997f.0745e6","type":"api-call-service","z":"8df34317.d9b8c","name":"Fönsterlampor Toggle","server":"466830cf.3d5d2","service_domain":"light","service":"toggle","data":"{ \"entity_id\" : \"light.livingroom_all_window\" }","mergecontext":"","x":800,"y":80,"wires":[[]]},{"id":"7fbbf76d.9293b","type":"function","z":"8df34317.d9b8c","name":"Olivia Wall Switch","func":"if (msg.payload[\"id\"] == 5 && msg.payload[\"state\"][\"buttonevent\"] == 1002) {\n    return [msg, null, null];\n} else if (msg.payload[\"id\"] == 5 && msg.payload[\"state\"][\"buttonevent\"] == 2002) {\n    return [null, msg, null];\n} else if (msg.payload[\"id\"] == 5 && msg.payload[\"state\"][\"buttonevent\"] == 3002) {\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"x":510,"y":260,"wires":[["5047cf9.afcb8b"],[],["7f56fbfc.e7085c"]]},{"id":"3ccc1270.4fff8e","type":"poll-state","z":"6eca413a.b935b8","name":"Vardagsrum Wall Switch Battery","server":"466830cf.3d5d2","updateinterval":"60","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.livingroom_wall_switch_battery_level","x":170,"y":80,"wires":[["7727a0a3.08708"]]},{"id":"7727a0a3.08708","type":"function","z":"6eca413a.b935b8","name":"If battery under 10%, send notification","func":"if (msg.payload < 10) {\n    return [msg, null];\n}","outputs":2,"noerr":0,"x":510,"y":80,"wires":[["251368a2.9ef258"],[]]},{"id":"b31337b1.c08e38","type":"api-call-service","z":"6eca413a.b935b8","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\" : \"Varning!\", \"message\" : \"Batteriet i strömbrytaren i vardagsrummet börjar ta slut!\" }","mergecontext":"","x":1000,"y":80,"wires":[[]]},{"id":"a034b3e8.63fef","type":"poll-state","z":"6eca413a.b935b8","name":"Olivia Wall Switch Battery","server":"466830cf.3d5d2","updateinterval":"60","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.olivia_wall_switch_battery_level","x":150,"y":180,"wires":[["e8b0d4c3.524398"]]},{"id":"e8b0d4c3.524398","type":"function","z":"6eca413a.b935b8","name":"If battery under 10%, send notification","func":"if (msg.payload < 10) {\n    return [msg, null];\n}","outputs":2,"noerr":0,"x":510,"y":180,"wires":[["24eef363.bce4e4"],[]]},{"id":"44ebdc5f.aa81bc","type":"api-call-service","z":"6eca413a.b935b8","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\" : \"Varning!\", \"message\" : \"Batteriet i strömbrytaren i Olivias rum börjar ta slut!\" }","mergecontext":"","x":1000,"y":180,"wires":[[]]},{"id":"f22ac220.c1b6d","type":"function","z":"6eca413a.b935b8","name":"If battery under 10%, send notification","func":"if (msg[\"payload\"][\"data\"][\"attributes\"][\"battery_level\"] < 10) {\n    return [msg, null];\n} else {\n    return [null, msg]\n}","outputs":2,"noerr":0,"x":510,"y":280,"wires":[["ba25bc3f.38be28","2450f95e.4e110e"],["2450f95e.4e110e"]]},{"id":"3eb97c15.15358c","type":"api-call-service","z":"6eca413a.b935b8","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\" : \"Varning!\", \"message\" : \"Batteriet i temperatursensorn i Vardagsrummet börjar ta slut!\" }","mergecontext":"","x":1000,"y":280,"wires":[[]]},{"id":"ba25bc3f.38be28","type":"change","z":"6eca413a.b935b8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":280,"wires":[["3eb97c15.15358c"]]},{"id":"24eef363.bce4e4","type":"change","z":"6eca413a.b935b8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":180,"wires":[["44ebdc5f.aa81bc"]]},{"id":"251368a2.9ef258","type":"change","z":"6eca413a.b935b8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":80,"wires":[["b31337b1.c08e38"]]},{"id":"85cd1517.059b88","type":"comment","z":"6eca413a.b935b8","name":"Check Vardagsrum Wall Switch Battery","info":"","x":170,"y":40,"wires":[]},{"id":"a58df9c5.653ed8","type":"comment","z":"6eca413a.b935b8","name":"Check Olivia Wall Switch Battery","info":"","x":150,"y":140,"wires":[]},{"id":"46aab3f6.a2678c","type":"comment","z":"6eca413a.b935b8","name":"Check Vardagsrum Temperature Battery","info":"","x":170,"y":240,"wires":[]},{"id":"22183f67.df1248","type":"comment","z":"84ff992f.8f4028","name":"Check Sovrum Temperature","info":"","x":140,"y":440,"wires":[]},{"id":"f1a2d413.a56a7","type":"poll-state","z":"6eca413a.b935b8","name":"Vardagsrum Temperature Battery","server":"466830cf.3d5d2","updateinterval":"60","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.livingroom_temperature_sensor","x":170,"y":280,"wires":[["f22ac220.c1b6d"]]},{"id":"19dbd265.11d13e","type":"change","z":"6eca413a.b935b8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[["4fbedb6e.cb8c9c"]]},{"id":"4fbedb6e.cb8c9c","type":"api-call-service","z":"6eca413a.b935b8","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\" : \"Varning!\", \"message\" : \"Batteriet i temperatursensorn i Olivias Rum börjar ta slut!\" }","mergecontext":"","x":1000,"y":380,"wires":[[]]},{"id":"fcbaec4b.22ba3","type":"change","z":"6eca413a.b935b8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":480,"wires":[["f787e4f1.764cd"]]},{"id":"f787e4f1.764cd","type":"api-call-service","z":"6eca413a.b935b8","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\" : \"Varning!\", \"message\" : \"Batteriet i temperatursensorn i Sovrummet börjar ta slut!\" }","mergecontext":"","x":1000,"y":480,"wires":[[]]},{"id":"dae6ed1c.34daf","type":"poll-state","z":"6eca413a.b935b8","name":"Olivia Temperature Battery","server":"466830cf.3d5d2","updateinterval":"60","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.olivia_temperature_sensor","x":150,"y":380,"wires":[["22ad3a10.345936"]]},{"id":"22ad3a10.345936","type":"function","z":"6eca413a.b935b8","name":"If battery under 10%, send notification","func":"if (msg[\"payload\"][\"data\"][\"attributes\"][\"battery_level\"] < 10) {\n    return [msg, null];\n} else {\n    return [null, msg]\n}","outputs":2,"noerr":0,"x":510,"y":380,"wires":[["19dbd265.11d13e","31d9f7f5.63a858"],["31d9f7f5.63a858"]]},{"id":"8164d0f.c0444b","type":"comment","z":"6eca413a.b935b8","name":"Check Sovrum Temperature Battery","info":"","x":160,"y":440,"wires":[]},{"id":"5f431885.bad0c8","type":"poll-state","z":"6eca413a.b935b8","name":"Sovrum Temperature Battery","server":"466830cf.3d5d2","updateinterval":"60","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.bedroom_temperature_sensor","x":160,"y":480,"wires":[["dec225bb.b21168"]]},{"id":"dec225bb.b21168","type":"function","z":"6eca413a.b935b8","name":"If battery under 10%, send notification","func":"if (msg[\"payload\"][\"data\"][\"attributes\"][\"battery_level\"] < 10) {\n    return [msg, null];\n} else {\n    return [null, msg]\n}","outputs":2,"noerr":0,"x":510,"y":480,"wires":[["fcbaec4b.22ba3","2e992e06.edf272"],["2e992e06.edf272"]]},{"id":"a3665218.eaa118","type":"comment","z":"6eca413a.b935b8","name":"Check Olivia Temperature Battery","info":"","x":150,"y":340,"wires":[]},{"id":"1e697e1c.db6c82","type":"mqtt out","z":"6eca413a.b935b8","name":"","topic":"sensors/sovrum/temperatursensor_battery","qos":"","retain":"true","broker":"a9f1b01.b18a85","x":1030,"y":520,"wires":[]},{"id":"2e992e06.edf272","type":"function","z":"6eca413a.b935b8","name":"","func":"var newMsg = { payload: msg[\"payload\"][\"data\"][\"attributes\"][\"battery_level\"] };\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["1e697e1c.db6c82"]]},{"id":"31d9f7f5.63a858","type":"function","z":"6eca413a.b935b8","name":"","func":"var newMsg = { payload: msg[\"payload\"][\"data\"][\"attributes\"][\"battery_level\"] };\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["23343b1c.5a0c04"]]},{"id":"23343b1c.5a0c04","type":"mqtt out","z":"6eca413a.b935b8","name":"","topic":"sensors/olivia/temperatursensor_battery","qos":"","retain":"true","broker":"a9f1b01.b18a85","x":1020,"y":420,"wires":[]},{"id":"2450f95e.4e110e","type":"function","z":"6eca413a.b935b8","name":"","func":"var newMsg = { payload: msg[\"payload\"][\"data\"][\"attributes\"][\"battery_level\"] };\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["8562745.e9c7788"]]},{"id":"8562745.e9c7788","type":"mqtt out","z":"6eca413a.b935b8","name":"","topic":"sensors/vardagsrum/temperatursensor_battery","qos":"","retain":"true","broker":"a9f1b01.b18a85","x":1040,"y":320,"wires":[]},{"id":"3482faee.4cb646","type":"poll-state","z":"207523f6.8a1364","name":"","server":"466830cf.3d5d2","updateinterval":"10","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.kristoffer_home_occupancy_confidence","x":250,"y":80,"wires":[["a3bbc2a3.a155e8"]]},{"id":"a3bbc2a3.a155e8","type":"function","z":"207523f6.8a1364","name":"","func":"if (msg[\"payload\"][\"data\"][\"attributes\"][\"mean\"] >= 10) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":550,"y":80,"wires":[["7219431b.95c294"],["aa83d0fa.35f788"]]},{"id":"3d2ef795.d904e","type":"api-call-service","z":"207523f6.8a1364","name":"","server":"466830cf.3d5d2","service_domain":"device_tracker","service":"see","data":"{ \"dev_id\" : \"kristoffer_presence\", \"host_name\" : \"Kristoffer\", \"location_name\" : \"home\" , \"gps\" : [58.3872961,13.4415207 ] }","mergecontext":"","x":970,"y":40,"wires":[[]]},{"id":"7219431b.95c294","type":"change","z":"207523f6.8a1364","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":40,"wires":[["3d2ef795.d904e"]]},{"id":"c2043a50.2e8b3","type":"comment","z":"207523f6.8a1364","name":"Check Kristoffer Home or Away","info":"","x":150,"y":40,"wires":[]},{"id":"f6b67515.1efaa8","type":"comment","z":"207523f6.8a1364","name":"Check Johanna Home or Away","info":"","x":150,"y":280,"wires":[]},{"id":"8d232b01.6aa49","type":"poll-state","z":"207523f6.8a1364","name":"","server":"466830cf.3d5d2","updateinterval":"10","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.johanna_home_occupancy_confidence","x":250,"y":320,"wires":[["2f3dc834.3afe38"]]},{"id":"2f3dc834.3afe38","type":"function","z":"207523f6.8a1364","name":"","func":"if (msg[\"payload\"][\"data\"][\"attributes\"][\"mean\"] >= 10) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":550,"y":320,"wires":[["573191a6.eddba8"],["c62f0ce6.d5365"]]},{"id":"573191a6.eddba8","type":"change","z":"207523f6.8a1364","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["6b049d.cb457b64"]]},{"id":"e6a9c5a0.246c18","type":"change","z":"207523f6.8a1364","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":360,"wires":[["205b7f0b.66b4e"]]},{"id":"6b049d.cb457b64","type":"api-call-service","z":"207523f6.8a1364","name":"","server":"466830cf.3d5d2","service_domain":"device_tracker","service":"see","data":"{ \"dev_id\" : \"johanna_presence\", \"host_name\" : \"Johanna\", \"location_name\" : \"home\" , \"gps\" : [58.3872961,13.4415207 ] }","mergecontext":"","x":970,"y":280,"wires":[[]]},{"id":"205b7f0b.66b4e","type":"api-call-service","z":"207523f6.8a1364","name":"","server":"466830cf.3d5d2","service_domain":"device_tracker","service":"see","data":"{ \"dev_id\" : \"johanna_presence\", \"host_name\" : \"Johanna\", \"location_name\" : \"not_home\" }","mergecontext":"","x":1150,"y":360,"wires":[[]]},{"id":"2e2dd839.77416","type":"api-call-service","z":"2b35b2df.0091ce","name":"Fönsterlampor On","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.bedroom_window\" }","mergecontext":"","x":790,"y":1060,"wires":[[]]},{"id":"35d9c061.573ad8","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"5004","endtime":"0","startoff":"-60","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":560,"y":1060,"wires":[["2e2dd839.77416"],[],[]]},{"id":"ce6740a6.2fc088","type":"api-current-state","z":"2b35b2df.0091ce","name":"Chromecast Sovrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.bedroom_chromecast","x":920,"y":1240,"wires":[["50492ec6.5f4b08"]]},{"id":"87d61a4.8801ae8","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"0","endtime":"300","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":560,"y":1240,"wires":[["ea56c035.c979b8"],[],[]]},{"id":"1354b4d1.5fbd7b","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1020,"wires":[["35d9c061.573ad8"]]},{"id":"205dede.1806c92","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1060,"wires":[["35d9c061.573ad8"]]},{"id":"89df4a12.8b67a","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1100,"wires":[["35d9c061.573ad8"]]},{"id":"f8978d35.eeb1c8","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1200,"wires":[["87d61a4.8801ae8"]]},{"id":"925bda01.82505","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1240,"wires":[["87d61a4.8801ae8"]]},{"id":"35a76728.adb078","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1280,"wires":[["87d61a4.8801ae8"]]},{"id":"8c35a1b1.954218","type":"comment","z":"2b35b2df.0091ce","name":"Timer Off, if not playing media - Fönster Sovrum","info":"","x":480,"y":1160,"wires":[]},{"id":"ea56c035.c979b8","type":"switch","z":"2b35b2df.0091ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1240,"wires":[["ce6740a6.2fc088"]]},{"id":"50492ec6.5f4b08","type":"function","z":"2b35b2df.0091ce","name":"If media is not playing, turn of lights","func":"if (msg.payload[\"payload\"][\"state\"] != \"playing\") {\n    return [msg];\n}","outputs":1,"noerr":0,"x":1200,"y":1240,"wires":[["67f135e1.7e172c"]]},{"id":"67f135e1.7e172c","type":"delay","z":"2b35b2df.0091ce","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1450,"y":1240,"wires":[["60916c9.8068694"]]},{"id":"60916c9.8068694","type":"api-call-service","z":"2b35b2df.0091ce","name":"Fönsterlampor Off","server":"466830cf.3d5d2","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.bedroom_window\" }","mergecontext":"","x":1650,"y":1240,"wires":[[]]},{"id":"f60519a.187a6e8","type":"comment","z":"2b35b2df.0091ce","name":"Timer On - Fönster Sovrum","info":"","x":420,"y":980,"wires":[]},{"id":"c62f0ce6.d5365","type":"function","z":"207523f6.8a1364","name":"","func":"if (msg[\"payload\"][\"timeSinceChangedMs\"] > 600000) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":690,"y":360,"wires":[["e6a9c5a0.246c18"],[]]},{"id":"aa83d0fa.35f788","type":"function","z":"207523f6.8a1364","name":"","func":"if (msg[\"payload\"][\"timeSinceChangedMs\"] > 600000 && msg[\"payload\"][\"timeSinceChangedMs\"] < 1800000) {\n    return [msg, null, null];\n} else if (msg[\"payload\"][\"timeSinceChangedMs\"] > 1800000) {\n    return [null, msg, null];\n} else {\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"x":690,"y":120,"wires":[["cfba8224.00675"],["34741aba.5b3cde"],[]]},{"id":"cfba8224.00675","type":"change","z":"207523f6.8a1364","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":80,"wires":[["bdc619c9.0a6708"]]},{"id":"bdc619c9.0a6708","type":"api-call-service","z":"207523f6.8a1364","name":"","server":"466830cf.3d5d2","service_domain":"device_tracker","service":"see","data":"{ \"dev_id\" : \"kristoffer_presence\", \"host_name\" : \"Kristoffer\", \"location_name\" : \"just_left\" , \"gps\" : [58.3872961,13.4415207 ] }","mergecontext":"","x":1090,"y":80,"wires":[[]]},{"id":"34741aba.5b3cde","type":"change","z":"207523f6.8a1364","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["be560ac.45a58f8"]]},{"id":"be560ac.45a58f8","type":"api-call-service","z":"207523f6.8a1364","name":"","server":"466830cf.3d5d2","service_domain":"device_tracker","service":"see","data":"{ \"dev_id\" : \"kristoffer_presence\", \"host_name\" : \"Kristoffer\", \"location_name\" : \"not_home\" , \"gps\" : [58.3872961,13.4415207 ] }","mergecontext":"","x":1090,"y":120,"wires":[[]]},{"id":"5047cf9.afcb8b","type":"api-call-service","z":"8df34317.d9b8c","name":"Olivia Tak Toggle","server":"466830cf.3d5d2","service_domain":"light","service":"toggle","data":"{ \"entity_id\" : \"light.olivia_ceiling\" }","mergecontext":"","x":790,"y":200,"wires":[[]]},{"id":"67a6e141.e6e54","type":"comment","z":"8df34317.d9b8c","name":"Disco Switch State","info":"","x":1030,"y":160,"wires":[]},{"id":"5992b494.0c7ba4","type":"change","z":"2b35b2df.0091ce","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":220,"wires":[["cdc39115.6e8cb8","b99bfebe.d93ad8"]]},{"id":"2a1bf08c.2b277","type":"comment","z":"2b35b2df.0091ce","name":"Is timer switch on or off","info":"","x":140,"y":40,"wires":[]},{"id":"f648fc0f.f43e28","type":"server-state-changed","z":"2b35b2df.0091ce","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.livingroom_window_timer","entityidfiltertype":"substring","haltifstate":"","x":140,"y":120,"wires":[["f0cbe74.07c9698"]]},{"id":"f0cbe74.07c9698","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_livingroom_evening = context.get('count')||0;\n\ncount_livingroom_evening = 1;\ncontext.set('count',count_livingroom_evening);\nmsg.count = count_livingroom_evening;\nreturn [msg, null];","outputs":1,"noerr":0,"x":110,"y":180,"wires":[["5992b494.0c7ba4"]]},{"id":"27c28195.4917f6","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["3ce1b7d4.4f189"]]},{"id":"44dd3fdf.ae9a3","type":"api-current-state","z":"2b35b2df.0091ce","name":"Switch state","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.livingroom_window_timer","x":130,"y":360,"wires":[["d4872d4f.c5278"]]},{"id":"3ce1b7d4.4f189","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_livingroom_evening = context.get('count')||0;\n\nif (count_livingroom_evening === 0) {\n    count_livingroom_evening = 1;\n    context.set('count',count_livingroom_evening);\n    msg.count = count_livingroom_evening;\n    return [msg, null];\n} else if (count_livingroom_evening === 1) {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":110,"y":320,"wires":[["44dd3fdf.ae9a3"],[]]},{"id":"d4872d4f.c5278","type":"change","z":"2b35b2df.0091ce","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":400,"wires":[["cdc39115.6e8cb8","b99bfebe.d93ad8"]]},{"id":"a4b62575.049c58","type":"change","z":"2b35b2df.0091ce","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1160,"wires":[["35d9c061.573ad8","87d61a4.8801ae8"]]},{"id":"b031048d.3b41c8","type":"server-state-changed","z":"2b35b2df.0091ce","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.bedroom_window_timer","entityidfiltertype":"substring","haltifstate":"","x":140,"y":1060,"wires":[["65710254.16b724"]]},{"id":"65710254.16b724","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_bedroom_evening = context.get('count')||0;\n\ncount_bedroom_evening = 1;\ncontext.set('count',count_bedroom_evening);\nmsg.count = count_bedroom_evening;\nreturn [msg, null];","outputs":1,"noerr":0,"x":110,"y":1120,"wires":[["a4b62575.049c58"]]},{"id":"cc3c7b3.099b408","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1220,"wires":[["70b0eb09.c17ee4"]]},{"id":"2a1b86e9.0a837a","type":"api-current-state","z":"2b35b2df.0091ce","name":"Switch state","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.bedroom_window_timer","x":130,"y":1300,"wires":[["bc420250.6b488"]]},{"id":"70b0eb09.c17ee4","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_bedroom_evening = context.get('count')||0;\n\nif (count_bedroom_evening === 0) {\n    count_bedroom_evening = 1;\n    context.set('count',count_bedroom_evening);\n    msg.count = count_bedroom_evening;\n    return [msg, null];\n} else if (count_bedroom_evening === 1) {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":110,"y":1260,"wires":[["2a1b86e9.0a837a"],[]]},{"id":"bc420250.6b488","type":"change","z":"2b35b2df.0091ce","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1340,"wires":[["35d9c061.573ad8","87d61a4.8801ae8"]]},{"id":"3d546fce.bbb648","type":"api-current-state","z":"84ff992f.8f4028","name":"Olivia Temperature Max","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_number.slider_olivia_temperature_max","x":530,"y":160,"wires":[["a7be78c.9974b08"]]},{"id":"a7be78c.9974b08","type":"merge","z":"84ff992f.8f4028","name":"","timeout":"","x":750,"y":120,"wires":[["21efe02b.3c6c6"]]},{"id":"d79d7ed8.910608","type":"api-current-state","z":"84ff992f.8f4028","name":"Olivia Temperature Sensor","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.olivia_temperature_sensor","x":540,"y":80,"wires":[["a7be78c.9974b08"]]},{"id":"9482e90c.21a98","type":"bigtimer","z":"84ff992f.8f4028","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":5001,"endtime":1425,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":320,"y":120,"wires":[[],["d79d7ed8.910608","23e6b747.a4b208","3d546fce.bbb648"],[]]},{"id":"23e6b747.a4b208","type":"api-current-state","z":"84ff992f.8f4028","name":"Olivia Temperature Min","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_number.slider_olivia_temperature_min","x":520,"y":120,"wires":[["a7be78c.9974b08"]]},{"id":"6b48e3ea.b7c95c","type":"change","z":"84ff992f.8f4028","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":180,"wires":[["9482e90c.21a98"]]},{"id":"a0de696e.f390a","type":"server-state-changed","z":"84ff992f.8f4028","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.notification_olivia_temperature","entityidfiltertype":"substring","haltifstate":"","x":120,"y":80,"wires":[["2a5d3ab1.47f9e6"]]},{"id":"2a5d3ab1.47f9e6","type":"function","z":"84ff992f.8f4028","name":"If","func":"var count_olivia_on = context.get('count')||0;\n\ncount_olivia_on = 1;\ncontext.set('count',count_olivia_on);\nmsg.count = count_olivia_on;\nreturn [msg, null];","outputs":1,"noerr":0,"x":90,"y":140,"wires":[["6b48e3ea.b7c95c"]]},{"id":"4472fb73.3bb39c","type":"server-state-changed","z":"84ff992f.8f4028","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.notification_livingroom_temperature","entityidfiltertype":"substring","haltifstate":"","x":120,"y":280,"wires":[["dad29def.f58658"]]},{"id":"dad29def.f58658","type":"function","z":"84ff992f.8f4028","name":"If","func":"var count_bedroom_on = context.get('count')||0;\n\ncount_bedroom_on = 1;\ncontext.set('count',count_bedroom_on);\nmsg.count = count_bedroom_on;\nreturn [msg, null];","outputs":1,"noerr":0,"x":90,"y":340,"wires":[["5d06f8c2.2f9508"]]},{"id":"5d06f8c2.2f9508","type":"change","z":"84ff992f.8f4028","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":380,"wires":[["8b4b1b6a.096ee8"]]},{"id":"8b4b1b6a.096ee8","type":"bigtimer","z":"84ff992f.8f4028","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":5001,"endtime":1425,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":320,"y":320,"wires":[[],["8da8fbb8.f709b8","9f0bcd9c.ebc3f8","2e52c577.ef322a"],[]]},{"id":"8da8fbb8.f709b8","type":"api-current-state","z":"84ff992f.8f4028","name":"Livingroom Temperature Sensor","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.livingroom_temperature_sensor","x":550,"y":280,"wires":[["41bedaa9.08981c"]]},{"id":"9f0bcd9c.ebc3f8","type":"api-current-state","z":"84ff992f.8f4028","name":"Livingroom Temperature Min","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_number.slider_livingroom_temperature_min","x":540,"y":320,"wires":[["41bedaa9.08981c"]]},{"id":"2e52c577.ef322a","type":"api-current-state","z":"84ff992f.8f4028","name":"Livingroom Temperature Max","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_number.slider_livingroom_temperature_max","x":540,"y":360,"wires":[["41bedaa9.08981c"]]},{"id":"41bedaa9.08981c","type":"merge","z":"84ff992f.8f4028","name":"","timeout":"","x":750,"y":320,"wires":[["cfd23f70.eb2a1"]]},{"id":"cfd23f70.eb2a1","type":"function","z":"84ff992f.8f4028","name":"Check temperature","func":"var count_livingroom_min = context.get('count')||0;\nvar count_livingroom_max = context.get('count_2')||0;\n\nif (msg[\"payload\"][0][\"payload\"] < msg[\"payload\"][1][\"payload\"] && count_livingroom_min === 0) {\n    count_livingroom_min = 1;\n    context.set('count',count_livingroom_min);\n    msg.count = count_livingroom_min;\n    count_livingroom_max = 0;\n    \n    var notification = 'Temperaturen i vardagsrummet är under ' + msg[\"payload\"][1][\"payload\"] + ' (' + msg[\"payload\"][0][\"payload\"] + ') grader.';\n    \n    msg.payload =  {\n        data: {\n            message: notification\n        }\n    }\n    \n    return [msg, null];\n} else if (msg[\"payload\"][0][\"payload\"] > msg[\"payload\"][2][\"payload\"] && count_livingroom_max === 0) {\n    count_livingroom_max = 1;\n    context.set('count_2',count_livingroom_max);\n    msg.count = count_livingroom_max;\n    count_livingroom_min = 0;\n    \n    var notification = 'Temperaturen i Vardagsrummet är över ' + msg[\"payload\"][2][\"payload\"] + ' (' + msg[\"payload\"][0][\"payload\"] + ') grader.';\n    \n    msg.payload =  {\n        data: {\n            message: notification\n        }\n    }\n    \n    return [msg, null];\n} else {\n    count_livingroom_min = 0;\n    count_livingroom_max = 0\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":910,"y":320,"wires":[["5191efc.813001"],[]]},{"id":"5191efc.813001","type":"api-call-service","z":"84ff992f.8f4028","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\": \"Varning!\" }","mergecontext":"","x":1140,"y":320,"wires":[[]]},{"id":"744bf77b.9c82e","type":"server-state-changed","z":"84ff992f.8f4028","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.notification_bedroom_temperature","entityidfiltertype":"substring","haltifstate":"","x":120,"y":480,"wires":[["9d5269e4.6bbc9"]]},{"id":"9d5269e4.6bbc9","type":"function","z":"84ff992f.8f4028","name":"If","func":"var count_livingroom_on = context.get('count')||0;\n\ncount_livingroom_on = 1;\ncontext.set('count',count_livingroom_on);\nmsg.count = count_livingroom_on;\nreturn [msg, null];","outputs":1,"noerr":0,"x":90,"y":540,"wires":[["d5367933.b80608"]]},{"id":"d5367933.b80608","type":"change","z":"84ff992f.8f4028","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":580,"wires":[["7fb292a2.b1c6fc"]]},{"id":"7fb292a2.b1c6fc","type":"bigtimer","z":"84ff992f.8f4028","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":5001,"endtime":1425,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":320,"y":520,"wires":[[],["cb2e1ed0.1aef5","6a0ed85d.ffcf48","585a8af2.8df1ec"],[]]},{"id":"cb2e1ed0.1aef5","type":"api-current-state","z":"84ff992f.8f4028","name":"Bedroom Temperature Sensor","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.bedroom_temperature_sensor","x":550,"y":480,"wires":[["64ce285d.f973e"]]},{"id":"6a0ed85d.ffcf48","type":"api-current-state","z":"84ff992f.8f4028","name":"Bedroom Temperature Min","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_number.slider_bedroom_temperature_min","x":540,"y":520,"wires":[["64ce285d.f973e"]]},{"id":"585a8af2.8df1ec","type":"api-current-state","z":"84ff992f.8f4028","name":"Bedroom Temperature Max","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_number.slider_bedroom_temperature_max","x":540,"y":560,"wires":[["64ce285d.f973e"]]},{"id":"64ce285d.f973e","type":"merge","z":"84ff992f.8f4028","name":"","timeout":"","x":750,"y":520,"wires":[["96141a6b.aad5e8"]]},{"id":"96141a6b.aad5e8","type":"function","z":"84ff992f.8f4028","name":"Check temperature","func":"var count_bedroom_min = context.get('count')||0;\nvar count_bedroom_max = context.get('count_2')||0;\n\nif (msg[\"payload\"][0][\"payload\"] < msg[\"payload\"][1][\"payload\"] && count_bedroom_min === 0) {\n    count_bedroom_min = 1;\n    context.set('count',count_bedroom_min);\n    msg.count = count_bedroom_min;\n    count_bedroom_max = 0;\n    \n    var notification = 'Temperaturen i Sovrummet är under ' + msg[\"payload\"][1][\"payload\"] + ' (' + msg[\"payload\"][0][\"payload\"] + ') grader.';\n    \n    msg.payload =  {\n        data: {\n            message: notification\n        }\n    }\n    \n    return [msg, null];\n} else if (msg[\"payload\"][0][\"payload\"] > msg[\"payload\"][2][\"payload\"] && count_bedroom_max === 0) {\n    count_bedroom_max = 1;\n    context.set('count_2',count_bedroom_max);\n    msg.count = count_bedroom_max;\n    count_bedroom_min = 0;\n    \n    var notification = 'Temperaturen i Sovrummet är över ' + msg[\"payload\"][2][\"payload\"] + ' (' + msg[\"payload\"][0][\"payload\"] + ') grader.';\n    \n    msg.payload =  {\n        data: {\n            message: notification\n        }\n    }\n    \n    return [msg, null];\n} else {\n    count_bedroom_min = 0;\n    count_bedroom_max = 0\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":910,"y":520,"wires":[["a249b0de.870c18"],[]]},{"id":"a249b0de.870c18","type":"api-call-service","z":"84ff992f.8f4028","name":"Send iOS Notification","server":"466830cf.3d5d2","service_domain":"notify","service":"ios_kristoffer_ios","data":"{ \"title\": \"Varning!\" }","mergecontext":"","x":1140,"y":520,"wires":[[]]},{"id":"14aec8da.73fbef","type":"server-state-changed","z":"2b35b2df.0091ce","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.program_winter","entityidfiltertype":"substring","haltifstate":"","x":140,"y":580,"wires":[["b8d699e9.6f1c4","cd03d21d.f71e68"]]},{"id":"cd0f8d0c.5bb72","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"390","endtime":"5003","startoff":"0","endoff":"+60","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":560,"y":620,"wires":[["a7777c32.c312c8"],[],[]]},{"id":"d11553e.c3ce0b","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":580,"wires":[["cd0f8d0c.5bb72"]]},{"id":"de7047d4.090008","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":620,"wires":[["cd0f8d0c.5bb72"]]},{"id":"75d12170.027a48","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":660,"wires":[["cd0f8d0c.5bb72"]]},{"id":"b8d699e9.6f1c4","type":"merge","z":"2b35b2df.0091ce","name":"","timeout":"","x":390,"y":740,"wires":[["5312d9b7.afa95"]]},{"id":"cd03d21d.f71e68","type":"api-current-state","z":"2b35b2df.0091ce","name":"Current Sate","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.livingroom_window_timer","x":130,"y":640,"wires":[["b8d699e9.6f1c4"]]},{"id":"5312d9b7.afa95","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_livingroom_morning = context.get('count')||0;\n\ncount_livingroom_morning = 1;\ncontext.set('count',count_livingroom_morning);\nmsg.count = count_livingroom_morning;\nreturn [msg, null];","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["6eab3d27.e796dc"]]},{"id":"6eab3d27.e796dc","type":"function","z":"2b35b2df.0091ce","name":"If","func":"if (msg.payload[0][\"payload\"] == \"on\" && msg.payload[1][\"payload\"] == \"on\") {\n    \n    var status = { payload:\"auto\"};\n    \n    return status;\n} else {\n    \n    var status = { payload:\"stop\"};\n    \n    return status;\n}","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["cd0f8d0c.5bb72"]]},{"id":"bee1e2c1.31f74","type":"server-state-changed","z":"2b35b2df.0091ce","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.livingroom_window_timer","entityidfiltertype":"substring","haltifstate":"","x":140,"y":680,"wires":[["75108528.bf97bc","b8d699e9.6f1c4"]]},{"id":"75108528.bf97bc","type":"api-current-state","z":"2b35b2df.0091ce","name":"Current Sate","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.program_winter","x":130,"y":740,"wires":[["b8d699e9.6f1c4"]]},{"id":"d743eff1.44cec","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["8bf39167.1a46f"]]},{"id":"8862780c.6eb268","type":"api-current-state","z":"2b35b2df.0091ce","name":"Switch state","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.livingroom_window_timer","x":130,"y":860,"wires":[["b8d699e9.6f1c4"]]},{"id":"8bf39167.1a46f","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_livingroom_morning = context.get('count')||0;\n\nif (count_livingroom_morning === 0) {\n    count_livingroom_morning = 1;\n    context.set('count',count_livingroom_morning);\n    msg.count = count_livingroom_morning;\n    return [msg, null];\n} else if (count_livingroom_morning === 1) {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":110,"y":820,"wires":[["8862780c.6eb268","d605bbcc.790448"],[]]},{"id":"d605bbcc.790448","type":"api-current-state","z":"2b35b2df.0091ce","name":"Switch state","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.program_winter","x":130,"y":900,"wires":[["b8d699e9.6f1c4"]]},{"id":"604aaad.c1b39d4","type":"comment","z":"2b35b2df.0091ce","name":"Morning Timer On - Window Lights Livingroom","info":"","x":480,"y":520,"wires":[]},{"id":"a7777c32.c312c8","type":"switch","z":"2b35b2df.0091ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":620,"wires":[["61720853.fcc0f","6551cd43.ab7734"],["aecd9b4f.785468"]]},{"id":"aecd9b4f.785468","type":"api-call-service","z":"2b35b2df.0091ce","name":"Livingroom Window - Off","server":"466830cf.3d5d2","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.livingroom_all_window\"}","mergecontext":"","x":890,"y":640,"wires":[[]]},{"id":"11165733.b3a849","type":"comment","z":"2b35b2df.0091ce","name":"Is timer and winter switches on or off","info":"","x":190,"y":480,"wires":[]},{"id":"141daaf4.4eed8d","type":"comment","z":"2b35b2df.0091ce","name":"Is timer switch on or off","info":"","x":140,"y":980,"wires":[]},{"id":"e9b6a6c2.8693f8","type":"comment","z":"2b35b2df.0091ce","name":"Is timer and winter switches on or off","info":"","x":190,"y":1420,"wires":[]},{"id":"5be2a6b0.92911","type":"comment","z":"2b35b2df.0091ce","name":"Morning Timer On - Window Lights Livingroom","info":"","x":480,"y":1460,"wires":[]},{"id":"ee421277.461758","type":"server-state-changed","z":"2b35b2df.0091ce","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.program_winter","entityidfiltertype":"substring","haltifstate":"","x":140,"y":1520,"wires":[["50fbab4c.60b574","fe629b22.6c91b8"]]},{"id":"50fbab4c.60b574","type":"merge","z":"2b35b2df.0091ce","name":"","timeout":"","x":390,"y":1680,"wires":[["41810bd3.e4beb4"]]},{"id":"fe629b22.6c91b8","type":"api-current-state","z":"2b35b2df.0091ce","name":"Current Sate","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.bedroom_window_timer","x":130,"y":1580,"wires":[["50fbab4c.60b574"]]},{"id":"41810bd3.e4beb4","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_livingroom_morning = context.get('count')||0;\n\ncount_livingroom_morning = 1;\ncontext.set('count',count_livingroom_morning);\nmsg.count = count_livingroom_morning;\nreturn [msg, null];","outputs":1,"noerr":0,"x":390,"y":1740,"wires":[["5fcd0580.0bf6bc"]]},{"id":"c39b0304.22a6f","type":"server-state-changed","z":"2b35b2df.0091ce","name":"Switch change","server":"466830cf.3d5d2","entityidfilter":"input_boolean.bedroom_window_timer","entityidfiltertype":"substring","haltifstate":"","x":140,"y":1620,"wires":[["29e98c89.f7fb4c","50fbab4c.60b574"]]},{"id":"29e98c89.f7fb4c","type":"api-current-state","z":"2b35b2df.0091ce","name":"Current Sate","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.program_winter","x":130,"y":1680,"wires":[["50fbab4c.60b574"]]},{"id":"a58a321d.42c12","type":"api-current-state","z":"2b35b2df.0091ce","name":"Switch state","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.bedroom_window_timer","x":130,"y":1800,"wires":[["50fbab4c.60b574"]]},{"id":"16804d4c.0f5c73","type":"api-current-state","z":"2b35b2df.0091ce","name":"Switch state","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.program_winter","x":130,"y":1840,"wires":[["50fbab4c.60b574"]]},{"id":"5fcd0580.0bf6bc","type":"function","z":"2b35b2df.0091ce","name":"If","func":"if (msg.payload[0][\"payload\"] == \"on\" && msg.payload[1][\"payload\"] == \"on\") {\n    \n    var status = { payload:\"auto\"};\n    \n    return status;\n} else {\n    \n    var status = { payload:\"stop\"};\n    \n    return status;\n}","outputs":1,"noerr":0,"x":390,"y":1800,"wires":[["56dde284.5eb3fc"]]},{"id":"78752a5a.5d3d14","type":"function","z":"2b35b2df.0091ce","name":"If","func":"var count_bedroom_morning = context.get('count')||0;\n\nif (count_bedroom_morning === 0) {\n    count_bedroom_morning = 1;\n    context.set('count',count_bedroom_morning);\n    msg.count = count_bedroom_morning;\n    return [msg, null];\n} else if (count_bedroom_morning === 1) {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":110,"y":1760,"wires":[["a58a321d.42c12","16804d4c.0f5c73"],[]]},{"id":"56dde284.5eb3fc","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"390","endtime":"5003","startoff":"0","endoff":"+60","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":560,"y":1560,"wires":[["159d027d.da5b86"],[],[]]},{"id":"b2ce4318.6bf94","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1720,"wires":[["78752a5a.5d3d14"]]},{"id":"159d027d.da5b86","type":"switch","z":"2b35b2df.0091ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1560,"wires":[["aed94d04.fa1be","5d294fe2.b61988"],["29f6f9c6.db3e5e"]]},{"id":"ed5be348.8fe448","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1520,"wires":[["56dde284.5eb3fc"]]},{"id":"172a0a0a.dfd08e","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1560,"wires":[["56dde284.5eb3fc"]]},{"id":"c05f9314.b2d12","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1600,"wires":[["56dde284.5eb3fc"]]},{"id":"aed94d04.fa1be","type":"api-call-service","z":"2b35b2df.0091ce","name":"Bedroom Window - On, 10% brightness","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.bedroom_window\", \"brightness_pct\": 10}","mergecontext":"","x":940,"y":1480,"wires":[[]]},{"id":"5d294fe2.b61988","type":"delay","z":"2b35b2df.0091ce","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1520,"wires":[["bd23fd4b.4e5758"]]},{"id":"29f6f9c6.db3e5e","type":"api-call-service","z":"2b35b2df.0091ce","name":"Bedroom Window - Off","server":"466830cf.3d5d2","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.bedroom_window\"}","mergecontext":"","x":890,"y":1580,"wires":[[]]},{"id":"bd23fd4b.4e5758","type":"api-call-service","z":"2b35b2df.0091ce","name":"Bedroom Window On - Transition 900s","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.bedroom_window\", \"brightness_pct\": 100, \"transition\": 900}","mergecontext":"","x":1070,"y":1520,"wires":[[]]},{"id":"7f56fbfc.e7085c","type":"api-call-service","z":"8df34317.d9b8c","name":"Olivia Tak Toggle","server":"466830cf.3d5d2","service_domain":"input_boolean","service":"toggle","data":"{ \"entity_id\" : \"input_boolean.scene_olivia_ceiling\" }","mergecontext":"","x":790,"y":300,"wires":[[]]},{"id":"79d82678.4437b8","type":"server-state-changed","z":"8df34317.d9b8c","name":"Olivia Ceiling Switch","server":"466830cf.3d5d2","entityidfilter":"light.olivia_ceiling","entityidfiltertype":"substring","haltifstate":"","x":1030,"y":200,"wires":[["f7a01d0f.65d84"]]},{"id":"f7a01d0f.65d84","type":"switch","z":"8df34317.d9b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":200,"wires":[["83333fb7.8b441","11565158.27fb67"],["3961d605.41fa02"]]},{"id":"3961d605.41fa02","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.olivia_ceiling\" }","mergecontext":"","x":1430,"y":220,"wires":[[]]},{"id":"d85098c.00d9468","type":"server-state-changed","z":"8df34317.d9b8c","name":"Olivia Ceiling Switch","server":"466830cf.3d5d2","entityidfilter":"input_boolean.scene_olivia_ceiling","entityidfiltertype":"substring","haltifstate":"","x":1030,"y":320,"wires":[["abf5bf9c.9277e"]]},{"id":"abf5bf9c.9277e","type":"switch","z":"8df34317.d9b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":320,"wires":[["df91cf72.8b2b38"],["194daac5.aca885"]]},{"id":"83333fb7.8b441","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.olivia_ceiling\", \"rgb_color\": [255, 207, 120], \"effect\": \"stop\", \"transition\": 0 }","mergecontext":"","x":1430,"y":140,"wires":[[]]},{"id":"194daac5.aca885","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.olivia_ceiling\", \"rgb_color\": [255, 207, 120], \"effect\": \"stop\", \"transition\": 0 }","mergecontext":"","x":1430,"y":340,"wires":[[]]},{"id":"11565158.27fb67","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.scene_olivia_ceiling\" }","mergecontext":"","x":1460,"y":180,"wires":[[]]},{"id":"61720853.fcc0f","type":"api-call-service","z":"2b35b2df.0091ce","name":"Livingroom Window - On, brightness 1","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.livingroom_all_window\", \"brightness\": 1}","mergecontext":"","x":930,"y":540,"wires":[[]]},{"id":"49527f1a.dc8f18","type":"api-call-service","z":"2b35b2df.0091ce","name":"Livingroom Window - On, transition to brightness 255","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.livingroom_all_window\", \"brightness\": 255, \"transition\": 900}","mergecontext":"","x":1120,"y":580,"wires":[[]]},{"id":"6551cd43.ab7734","type":"delay","z":"2b35b2df.0091ce","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":580,"wires":[["49527f1a.dc8f18"]]},{"id":"df91cf72.8b2b38","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.olivia_ceiling\", \"effect\": \"colorloop\" }","mergecontext":"","x":1430,"y":300,"wires":[[]]}]