flows.json
[{"id":"2b35b2df.0091ce","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"8df34317.d9b8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"466830cf.3d5d2","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":"bA55man01"},{"id":"d769023.ebb54","type":"websocket-client","z":"","path":"ws://localhost:8443","tls":"","wholemsg":"false"},{"id":"7dbe3987.d9805","type":"api-call-service","z":"2b35b2df.0091ce","name":"Fönsterlampor On","server":"466830cf.3d5d2","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"group.vardagsrum_belysning_fonster\" }","mergecontext":"","x":530,"y":120,"wires":[[]]},{"id":"cdc39115.6e8cb8","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"5004","endtime":"0","startoff":"-60","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":280,"y":120,"wires":[["7dbe3987.d9805"],[],[]]},{"id":"c206eddf.d21f5","type":"api-call-service","z":"2b35b2df.0091ce","name":"Fönsterlampor Off","server":"466830cf.3d5d2","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"group.vardagsrum_belysning_fonster\" }","mergecontext":"","x":1550,"y":280,"wires":[[]]},{"id":"b623f99b.f5c6f","type":"comment","z":"2b35b2df.0091ce","name":"Timer On - Fönster Vardagsrum","info":"","x":170,"y":40,"wires":[]},{"id":"2b568e64.e65172","type":"trigger-state","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","entityid":"automation.vardagsrum_switch_1_left","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":230,"y":120,"wires":[["819e8fbc.4f77"],[]]},{"id":"819e8fbc.4f77","type":"api-call-service","z":"8df34317.d9b8c","name":"Fönsterlampor Toggle","server":"466830cf.3d5d2","service_domain":"light","service":"toggle","data":"{ \"entity_id\" : \"group.vardagsrum_belysning_fonster\" }","mergecontext":"","x":600,"y":120,"wires":[[]]},{"id":"92c94f28.038688","type":"comment","z":"8df34317.d9b8c","name":"Toggle Vardagsrum Fönsterlampor","info":"","x":180,"y":80,"wires":[]},{"id":"9ddf1234.e090c8","type":"trigger-state","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","entityid":"automation.olivia_switch_1_left","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":210,"y":260,"wires":[["53a88573.c897b4"],[]]},{"id":"7ebf296b.9e8eb8","type":"comment","z":"8df34317.d9b8c","name":"Toggle Olivias Rum Tak","info":"","x":140,"y":220,"wires":[]},{"id":"53a88573.c897b4","type":"api-call-service","z":"8df34317.d9b8c","name":"Tak Toggle","server":"466830cf.3d5d2","service_domain":"light","service":"toggle","data":"{ \"entity_id\" : \"light.olivia_tak\" }","mergecontext":"","x":570,"y":260,"wires":[["ec16ad1f.410f3"]]},{"id":"6739c0a.d3ceac","type":"api-call-service","z":"8df34317.d9b8c","name":"Tak Toggle","server":"466830cf.3d5d2","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.olivia_color_select\", \"option\" : \"Standard\" }","mergecontext":"","x":570,"y":320,"wires":[[]]},{"id":"ec16ad1f.410f3","type":"api-current-state","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","halt_if":"on","entity_id":"light.olivia_tak","x":160,"y":320,"wires":[["6739c0a.d3ceac"]]},{"id":"7d68095c.0339c8","type":"server-state-changed","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","entityidfilter":"input_select.olivia_color_select","entityidfiltertype":"substring","haltifstate":"","x":220,"y":620,"wires":[["7526b47e.79479c"]]},{"id":"7526b47e.79479c","type":"switch","z":"8df34317.d9b8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Standard","vt":"str"},{"t":"eq","v":"Färger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":620,"wires":[["6951a424.20653c"],["3515febc.a7b0e2"]]},{"id":"6951a424.20653c","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\" : \"scene.olivia_default\" }","mergecontext":"","x":650,"y":600,"wires":[[]]},{"id":"3515febc.a7b0e2","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\" : \"scene.olivia_colored\" }","mergecontext":"","x":650,"y":640,"wires":[[]]},{"id":"109412f0.e48e8d","type":"trigger-state","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","entityid":"automation.olivia_switch_1_both","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":220,"y":440,"wires":[["5a528606.819d7"],[]]},{"id":"5a528606.819d7","type":"api-current-state","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","halt_if":"off","entity_id":"light.olivia_tak","x":560,"y":440,"wires":[["cb0401cc.d6a03"]]},{"id":"d25e5018.405c8","type":"comment","z":"8df34317.d9b8c","name":"Toggle Color Olivia Tak","info":"","x":140,"y":400,"wires":[]},{"id":"7e466169.0a927","type":"comment","z":"8df34317.d9b8c","name":"Olivia Tak Scene Selector","info":"","x":150,"y":580,"wires":[]},{"id":"15cbf046.084a08","type":"debug","z":"8df34317.d9b8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":800,"wires":[]},{"id":"cb0401cc.d6a03","type":"api-call-service","z":"8df34317.d9b8c","name":"","server":"466830cf.3d5d2","service_domain":"input_select","service":"select_next","data":"{ \"entity_id\" : \"input_select.olivia_color_select\" }","mergecontext":"","x":160,"y":500,"wires":[[]]},{"id":"9bf63005.381f5","type":"api-current-state","z":"2b35b2df.0091ce","name":"Chromecast Vardagsrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.vardagsrum","x":650,"y":220,"wires":[["a03dea59.ac571"]]},{"id":"620601fe.256d68","type":"function","z":"2b35b2df.0091ce","name":"If media is not playing, turn of lights","func":"if (msg.payload[0] == \"playing\" || msg.payload[1] == \"playing\" || msg.payload[2] == \"unknown\" || msg.payload[3] == \"playing\" ) {\n    return [msg.payload[0], null];\n} else {\n    return [null, msg.payload[0]];\n}","outputs":2,"noerr":0,"x":1120,"y":280,"wires":[[],["3c6bf9d2.4abb16"]]},{"id":"ee206d54.200ba","type":"websocket in","z":"2b35b2df.0091ce","name":"Deconz WS","server":"","client":"d769023.ebb54","x":121.5,"y":601,"wires":[["24a8be21.23c572"]]},{"id":"24a8be21.23c572","type":"json","z":"2b35b2df.0091ce","name":"","property":"payload","action":"","pretty":false,"x":305.5,"y":594,"wires":[[]]},{"id":"3c6bf9d2.4abb16","type":"delay","z":"2b35b2df.0091ce","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1370,"y":280,"wires":[["c206eddf.d21f5"]]},{"id":"9f2305df.f80098","type":"api-current-state","z":"2b35b2df.0091ce","name":"Xbox One Vardagsrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.kristofferbas","x":640,"y":300,"wires":[["a03dea59.ac571"]]},{"id":"cebcab2c.2acf28","type":"api-current-state","z":"2b35b2df.0091ce","name":"Kodi Vardagsrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.kodi_retropielocal","x":630,"y":260,"wires":[["a03dea59.ac571"]]},{"id":"3b94841d.59a74c","type":"api-current-state","z":"2b35b2df.0091ce","name":"Sonos Vardagsrum","server":"466830cf.3d5d2","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.vardagsrum_2","x":630,"y":340,"wires":[["a03dea59.ac571"]]},{"id":"a03dea59.ac571","type":"merge","z":"2b35b2df.0091ce","name":"","timeout":"","x":890,"y":280,"wires":[["620601fe.256d68"]]},{"id":"b99bfebe.d93ad8","type":"bigtimer","z":"2b35b2df.0091ce","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Big Timer","lat":"58.38659","lon":"13.43836","starttime":"0","endtime":"300","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":280,"y":280,"wires":[["69d7f250.1aaedc"],[],[]]},{"id":"47a15ece.496648","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["cdc39115.6e8cb8"]]},{"id":"755b756.d914b8c","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["cdc39115.6e8cb8"]]},{"id":"c6dd8a95.ec81c8","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["cdc39115.6e8cb8"]]},{"id":"71b4b0b0.90ac6","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["b99bfebe.d93ad8"]]},{"id":"fd206bbe.ebbad","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["b99bfebe.d93ad8"]]},{"id":"f48b748d.78332","type":"inject","z":"2b35b2df.0091ce","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["b99bfebe.d93ad8"]]},{"id":"bc536414.856908","type":"comment","z":"2b35b2df.0091ce","name":"Timer Off, if not playing media - Fönster Vardagsrum","info":"","x":230,"y":200,"wires":[]},{"id":"69d7f250.1aaedc","type":"switch","z":"2b35b2df.0091ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":280,"wires":[["3b94841d.59a74c","9f2305df.f80098","cebcab2c.2acf28","9bf63005.381f5"]]}]